html {
  /* pro rolamento não ser instantâneo e ele parar 205px acima do normal*/
  scroll-behavior: smooth;
  scroll-padding-top: 215px;
}

body {
  position: relative;
  background-color: var(--bg-color);
  margin: 10px;
  border: 5px double var(--links-color);
  min-height: calc(100vh - 10px);
  box-sizing: border-box;
}

* {
  color: var(--lyrics-color);
  font-family: var(--font-text);
}

/* aqui começa o header */
.header__container {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
  padding: 10px 30px;
  border-radius: 0 0 15px 15px;
  background-color: var(--details-color);
  border: 5px double var(--links-color);
  border-bottom: none;
  box-sizing: border-box;
  z-index: 100;
}

/* é a parte embaixo da logo */
.header_about_me {
  display: flex;
  flex-direction: column;
}

.header_about_me img {
  width: 150px;
  height: auto;
}

.menu li {
  /* Deixa os li na mesma linha e cria um distancia entre eles */
  display: inline;
  margin-inline: 30px;
}

.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-hamburguer {
  display: none;
  /* Pra não ter botão até chegar num tamanho menor de tela */
  font-size: 24px;
  background: var(--buttons-color);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.menu-hamburguer i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* aqui termina o header */

/* aqui começa o sidebar lateral */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

#sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 10000;
  padding: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

#sidebar-menu.open {
  transform: translateX(0);
}

#sidebar-menu ul li {
  margin: 20px 10px;
}

#sidebar-menu ul li a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

#sidebar-menu ul li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

/* aqui termina o sidebar lateral */

/* aqui começa o main */
/* section Sobre Mim: */
.sobre-mim__container {
  display: flex;
  margin-top: 205px;
  /* desce o header */
  gap: 20px;
}

.sobre-mim__container img {
  display: block;
  margin: auto 36px;
  height: auto;
  max-width: 290px;
  border-radius: 36px 180px;
  background-color: var(--links-color);
  animation: movimento 16s ease-in-out infinite;
  /* cria uma animação na foto */
}

@keyframes movimento {

  /* estilizando a animação */
  0% {
    /* posição e borda inicial */
    transform: translateY(0);
    border-radius: 36px 180px;
  }

  25% {
    transform: translateY(-5px);
    border-radius: 72px 100px;
  }

  50% {
    /* Inversão do efeito */
    transform: translateY(-10px);
    border-radius: 140px 36px;
  }

  75% {
    transform: translateY(-5px);
    border-radius: 72px 100px;
  }

  100% {
    /* volta pra posição inicial */
    transform: translateY(0);
    border-radius: 36px 180px;
  }
}


.sobre-mim__container article h2 {
  margin: 60px 0 40px 0;
  font-size: 32px;
  font-family: var(--font-title);
}

.sobre-mim__container article p {
  text-align: justify;
  hyphens: auto;
  padding: 10px 20px 0 0;
}

/* section Tecnologias: */
.tecnologias__container {
  padding: 10px;
  border: 1px dashed var(--links-color);
  border-left: none;
  border-right: none;
  overflow: hidden;
  white-space: nowrap;
}

.tecnologias__container h2 {
  font-size: 32px;
  margin: 20px;
  text-align: center;
  font-family: var(--font-title);
}

.tecnologias__container .images {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 12s linear infinite;
  /* cria uma animação de movimento horizontal */
}

@keyframes scroll {

  /* estilizando a animação */
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.34%);
  }
}

.tecnologias__container img {
  display: inline-block;
  width: auto;
  height: 120px;
  margin: 20px;
  object-fit: cover;
}

/* section Projetos: */
.projetos__container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.projetos__container h2 {
  font-size: 32px;
  margin: 30px auto;
  font-family: var(--font-title);
}

.projetos__container h3 {
  font-size: 20px;
  font-family: var(--font-title);
  margin: 10px 0;
}

.projetos__container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  /* ajusta automaticamente as colunas, ficando entre 600px e o tamanho maximo do width */
  gap: 20px;
  justify-content: center;
}

.projetos__container .card {
  background-color: var(--details-color);
  box-shadow: 2px 2px 20px rgba(82, 82, 82, 0.2);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.projetos__container img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  /* deixa o efeito da scala mais lento */
}

.projetos__container img:hover {
  transform: scale(1.05);
}

.projetos__container .card p {
  margin: 10px 0;
  padding: 0 20px;
}

/* section Contato: */
#contato h2 {
  font-size: 32px;
  margin: 20px;
  text-align: center;
  font-family: var(--font-title);
}

.contato__container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.contato__container form {
  width: 250px;
  margin: 0 0 20px;
  padding: 10px 30px;
  background-color: var(--lyrics-color);
  /* usei a cor que tava usando nos texto */
  border-radius: 10px;
}

.contato__container legend {
  /* O fale comigo encima do formulário */
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.contato__container label {
  /* nome/email/em que posso ajudar */
  display: block;
  font-weight: bold;
  color: black;
  margin: 10px 0 5px 0;
}

.contato__container input,
.contato__container textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  color: black;
}

.contato__container textarea {
  height: 100px;
  resize: none;
  /* impede que o usuário mexa no tamanho do espaço */
}

.contato__container input[type="submit"],
.contato__container input[type="reset"] {
  width: 48%;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.contato__container input[type="submit"] {
  background-color: var(--correct-color);
}

.contato__container input[type="reset"] {
  background-color: var(--incorrect-color);
}

.contato__container input[type="submit"]:hover {
  background-color: var(--correct-color-hover);
}

.contato__container input[type="reset"]:hover {
  background-color: var(--incorrect-color-hover);
}

/* Outras redes sociais */
.redes-sociais h3 {
  font-size: 18px;
  font-family: var(--font-title);
}

.redes-sociais__container {
  display: flex;
  justify-content: space-around;
}

.redes-sociais__container a i {
  font-size: 40px;
  /* no font awesome, o font-size que é o tamanho dos ícones */
  margin: 5px 0 20px 0;
}

.redes-sociais__container i:hover {
  transform: scale(1.1);
}

/* Aqui termina o main */

/* Aqui começa o footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--details-color);
  border-top: 5px double var(--links-color);
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 20px 0;
  z-index: 100;
}

.footer-content p {
  margin: 5px 0;
  font-style: italic;
}

.footer-content a {
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

/* Aqui termina o footer */

/* Agora começa os media queries pra responsividade */
@media (max-width: 1250px) {
  .tecnologias__container img {
    margin: 20px 10px;
  }

  .redes-sociais a i {
    font-size: 30px;
  }
}

@media (max-width: 830px) {
  .menu { /* Tira os li do header */
    display: none;
  }

  /* Mostra o hamburguer */
  .menu-hamburguer {
    display: block;
  }

  .sobre-mim__container{
    margin-top: 170px;
  }
  
}

@media (max-width: 768px) {
  body {
    margin: 5px;
    border: 4px double var(--links-color);
  }

  .header__container {
    height: auto;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    border: 4px double var(--links-color);
    border-bottom: none;
  }

  .sobre-mim__container {
    gap: 0;
    margin-top: 135px;
  }

  .sobre-mim__container img {
    max-width: 260px;
    max-height: 380px;
    margin: auto 9px;
    animation: none; /* Tira a animação, já que é tablet/celular */
  }

  .sobre-mim__container article h2 {
    margin: 90px 0 20px 0;
  }

  .sobre-mim__container article p {
    padding: 10px;
  }

  .projetos__container .grid {
    grid-template-columns: none; /* Tira aquele ajuste automatico das colunas do grid */
  }

  .projetos__container h2 {
    font-size: 28px;
    margin: 10px;
  }

  #contato h2 {
    font-size: 28px;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  #sidebar-menu ul li {
    margin: 15px 0;
  }

  #sidebar-menu ul li a {
    font-size: 18px;
  }

  .sobre-mim__container {
    margin-top: 190px;
  }

  .sobre-mim__container img {
    margin: auto;
    margin-top: 10px;
    max-width: 260px;
    max-height: none;
    height: auto;
  }

  .sobre-mim__container article h2 {
    margin: 20px;
  }

  .sobre-mim__container article p {
    padding: 10px 20px;
  }

  .sobre-mim__container {
    flex-direction: column;
  }

  .tecnologias__container h2 {
    margin: 20px 10px 0 0;
    font-size: 28px;
  }

  .tecnologias__container .images {
    display: block;
    animation: none; /* Tira a animação, já que é tablet/celular */
    overflow-x: auto; /* Coloca um scroll horizontal manual(dedo) */
  }

  .tecnologias__container img {
    height: 100px;
  }

  .projetos__container {
    padding: 5px;
  }

  .projetos__container .card p {
    text-align: justify;
  }

  .contato__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .menu-hamburguer {
    margin-bottom: 15px;
  }

  .contato__container form {
    width: 200px;
  }
}

@media (max-width: 420px) {
  body {
    margin: 0;
    border: 3px solid var(--links-color);
    border-radius: 0;
  }

  p {
    font-size: 14px;
  }

  .header__container {
    border: 3px solid var(--links-color);
    border-bottom: none;
    border-radius: 0;
  }

  #sidebar-menu ul li {
    margin: 10px 0;
  }

  .sobre-mim__container img {
    margin-top: 20px;
  }

  .sobre-mim__container article h2,
  .tecnologias__container h2 {
    margin: 10px;
    font-size: 24px;
  }

  .sobre-mim__container article p {
    padding: 10px;
  }

  .tecnologias__container img {
    height: 80px;
  }

  .projetos__container h2 {
    font-size: 24px;
    margin: 10px;
  }

  .projetos__container h3 {
    font-size: 16px;
  }

  #contato h2 {
    font-size: 24px;
    margin: 5px;
  }
}