:root{
    /* cores */
    --bg-color: #0D1117;
    --lyrics-color: #E6EDF3;
    --links-color: #58A6FF;
    --details-color: #161B22;
    --buttons-color: #238636;
    --hover-color: #79C0FF;
    --correct-color: #4CAF50;
    --incorrect-color: #f44336;
    --correct-color-hover: #45a049;
    --incorrect-color-hover: #d32f2f;
    /* fontes */
    --font-text: 'Roboto', sans-serif;
    --font-title: 'Lora', serif; 
}